<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @grocery_list.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @grocery_list.description %>
</p>
<div id="grocery_items_wrapper">
 <%= render @grocery_list.grocery_items %>
 <div id="form">
  <%= render "grocery_items/form" %>
 </div>
</div>
<%= link_to 'Edit', edit_grocery_list_path(@grocery_list) %> |
<%= link_to 'Back', grocery_lists_path %>
